nav {
    background-color: white;
}

 nav ul a {
    color: black;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 500px;
  }


/* .carousel {
    height: 200px;
} */

.brand-logo {
    height:50px;
}

/* #logo {
    height: 200px;
    margin-top: 25px;
} */