@font-face {
    font-family: Greenstone;
    src: url("./font/GreenstoneScriptBold-Regular.otf") format("opentype");
}
h1{
    font-family: Greenstone, script;
}
nav {
    background-color: #bbdefb;
}

 nav ul a {
    color: black;
    font-family: 'lato', sans-serif;
    font-size: 18px;
}

a {
    color: black;
}

input, option, label, button {
    font-family: 'Lato', sans-serif;
}

li {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.waves-effect {
    background-color: maroon;
    margin-top: 20px;
}

.dropdown-content li>span {
    color: grey;
    font-family: 'Lato', sans-serif;
}

i.material-icons {
    color: maroon;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.25;
}

footer {
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: #bbdefb;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sectionTitle {
    color: maroon;
    font-size: 36px
}
.center {
    text-align: center;
}
.parallax-container {
    position: relative;
    overflow: hidden;
    height: 500px;
  }

  a.offset { 
    display: block; 
    position: relative;
  	height: 50px;      
    margin-top: -50px;
    visibility: hidden; 
}
  
a.brand-logo {
    color: maroon;
    font-family: Greenstone;
    font-size: 32px;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #08324D;
 }

input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: #08324D;
}

.input-field input:focus {
    border-bottom: 1px solid #08324D !important;
    box-shadow: 0 1px 0 0 white !important
  }

.question {
    font-family: Greenstone;
    font-size: 22px;
    color: #08324D;
}

.answer {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}


@media screen and (max-width: 900px) {
    a.brand-logo {
        font-size: 22px;
    }
}

@media screen and (max-width: 600px) {
    a.brand-logo {
        font-size: 12px;
    }
}


/* font-family: 'Lato', sans-serif; */